sweather-2/Build Config/*.xcconfig
/Pods
/fastlane/report.xml
/Sweather 2.app.dSYM.zip
/Sweather 2.ipa
.bundle/
.env
.DS_Store
sweather-2.xcworkspace/xcuserdata/sam.xcuserdatad/UserInterfaceState.xcuserstate
sweather-2.xcodeproj/project.xcworkspace/xcuserdata/sam.xcuserdatad/UserInterfaceState.xcuserstate
