<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Sweather</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>custom-1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-1-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-1-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-1-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-1-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-2-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-2-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-2-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-2-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-3-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-3-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-3-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-3-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-4-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-4-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-4-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-4-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-5-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-5-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-5-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-5-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-6-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-6-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-6-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-6-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>default-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>default-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>default-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>default-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>default</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>custom-1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-1-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-1-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-1-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-1-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-2-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-2-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-2-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-2-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-3-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-3-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-3-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-3-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-4-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-4-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-4-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-4-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-5-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-5-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-5-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-5-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-6-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-6-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>custom-6-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>custom-6-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>default-snow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>default-snow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>default-sun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>default-sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>default</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>CFBundleVersion</key>
	<string>855</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7736556580630436~8619579364</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Sweather uses your location to get access to the most accurate weather data for you</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Sweather uses your location to get access to the most accurate weather data for you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sweather uses your location to get access to the most accurate weather data for you</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>SweatherWidgetConfigurationIntent</string>
		<string>SweatherWidgetIntentIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>WillyWeatherAPIKey</key>
	<string>${WILLY_WEATHER_API_KEY}</string>
</dict>
</plist>
